/* mainContents */
.App {
  text-align: center;
}

.wrapper {
  padding-top: 20px;
}

/* visualArea*/
.visualArea {
  display: block! important;
  position: relative;
  float: left;
  width: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}
.visualArea span {
  display: block;
  overflow: hidden;
}
.frontImage {
  width: auto;
  height: 703px;
}

.mainContents {
  height: 100%;
  margin: 0 0 0 200px;
  background-color: #f8f8f7;
}


/* footer*/

footer {
  width: auto;
  padding: 0 0 0 200px;
  position: relative;
  /*z-index: 1;*/
  background: #F3F1EF;
  display: block;
  clear: both;
}

img {
  width: 100%;
}

@media screen and (max-width: 909px) {

}


@media screen and (min-width: 910px) {
  .wrapper {
      padding-left: 200px;
  }

}
