header {
  display: block;
}
.global {
  background-color: #4E342E;
  width: 200px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  min-height: 450px;
}
.phone {
  bottom: 43px;
  position: absolute;
  font-size: 100%;
}
.address {
  bottom: 0;
  position: absolute;

}

ul {
  margin: 0;
  list-style: none;
  padding: 15px 0;
}

li a {
  color: white;
  text-decoration: none;
}
img {
  vertical-align: middle;
}

nav {
  display: block;
}

h1 {
  margin: 0;
}
.logo {
  height: auto;
  padding: 10px;
}




@media screen and (max-width: 909px) {
  .global {
    padding: 0;
    width: auto;
    height: auto;
    position:relative;
    z-index: 1010;
    min-height: 0;
    background-position: top;
    background-size: 100%;
  }

  .logo {
    width: 100px;
    margin: auto;
    position: relative;
    top: 0;
    display: block;
  }

  .megaNav {
    padding: 0px 0px 17px 0px;
  }

  nav ul li {
    width: 25%;
    float: left;
  }

}

@media screen and (max-width: 1023px) {

}
